/* Solves the vertical scrollbar effect (sometimes called "layout shift"):
 when one page is just long enough to need a scrollbar and another isn't,
 the presence or absence of the scrollbar shifts content horizontally.*/
html {
  /* Always reserve space for a scrollbar - fallback for old browsers */
  overflow-y: scroll;

  /* Modern solution for browsers that support it */
  scrollbar-gutter: stable;
}

.navbar-brand-font {
    font-size: 2rem;
}

.navbar-row-gap {
    margin-top: -8px;
}

.card-dimensions {
    aspect-ratio: 3/4;
    width: 192px;
}

.card-img-top-fit {
    object-fit: contain;
}