.navbar-brand-font {
    font-size: 2rem;
}

.navbar-row-gap {
    margin-top: -8px;
}

.card-dimensions {
    aspect-ratio: 3/4;
    width: 192px;
}

.card-img-top-fit {
    object-fit: contain;
}

/* For a light highlight on dark sidebars */
/* Sidebar active category: bold font, no background */
.offcanvas .nav-link.active,
.offcanvas .nav-link.active:focus,
.offcanvas .nav-link.active:hover {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: bold;
}
/*
.sidebar {
  min-width: 220px;
  max-width: 280px;
}
.sidebar .nav-link {
  color: #333;
  border-radius: 0.375rem;
  transition: background 0.1s;
}
.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: #e9ecef;
  font-weight: 500;
}
.sidebar .nav-link i {
  font-size: 1rem;
}*/